<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>{% block page_title %}{% endblock %}</title>
    </head>
    <body class="bg-dark">
        <nav class="navbar navbar-expand navbar-dark mr-auto">
            <ul class= "nav navbar-nav">
                <div class="navbar  navbar-fixed-top ">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'bugs' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bugs</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'bugs'%}">All Bugs</a>
                            {% if user.is_authenticated%}
                            <a class="dropdown-item" href="{% url 'new_issue' %}">New Bug</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'issue_status_to_do'%}">To Do</a>
                            <a class="dropdown-item" href="{% url 'issue_status_investigated'%}">Being Investigated</a>
                            <a class="dropdown-item" href="{% url 'issue_status_in_development' %}">In Development</a>
                            <a class="dropdown-item" href="{% url 'issue_status_in_testing' %}">In Testing</a>
                        </div>   
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'features' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Feature Requests</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'features' %}">All Features</a>
                            {% if user.is_authenticated%}
                            <a class="dropdown-item" href="{% url 'new_feature' %}">New Feature Request</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'feature_request_to_do'%}">To Do</a>
                            <a class="dropdown-item" href="{% url 'feature_request_investigated'%}">Being Investigated</a>
                            <a class="dropdown-item" href="{% url 'feature_request_in_development' %}">In Development</a>
                            <a class="dropdown-item" href="{% url 'feature_request_to_in_testing' %}">In Testing</a>
                        </div>   
                    </li>
                    {% if user.is_authenticated%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        {% if messages %}
        <div class="alert alert-info alert-dismissable">
            {% for messages in messages %}
            {{ messages }}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}
       
        {% endblock %}
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>